<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="home.php" id="valid">Val<span>ID</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="home.php">Perfil</a></li>
                {if $adm}<li><a href="solicitacoes.php">Solicitações</a></li>{/if}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="alterar_dados.php" id='link-gerenciar'><span id="id-usuario">{$usuario->login}</span><img src="../app/imagens/{if $foto}{$usuario->login}.jpg{else}user.png{/if}"  id="gerenciar"/></a></li>
                <li><a href="/valid/app/logout.php" id="sair" name="sair">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>