{extends file="template.html"}

{block name="barra-css"}no-navbar.css{/block}
{block name="css"}<link href="css/index.css" rel="stylesheet">{/block}
{block name="js"}<script src="js/solicitacao.js"></script>{/block}
{block name="barra"}{/block}

{block name="code"}

<div id="login-block">

    <h1 id="titulo">ValID</h1>

    <div class="form-block">

        <form class="form text-center" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control formulario" id="login" name="login">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control formulario" id="password" name="password">
            </div>

            <div class="link">
                <a href="#">Esqueci minha senha</a>
            </div>

            <div class="row">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#solicita-acesso" data-whatever="@getbootstrap">Solicitar Acesso</button>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>

    {if $erro}
    <div class="alert alert-danger">
        <p align="center">Favor verificar nome de usuário e/ou senha!</p>
    </div>
    {/if}

    <div class="modal fade" id="solicita-acesso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Solicitação de Acesso</h4>
                </div>
                <div class="modal-body">

                    <div class="texto">
                        <p>Entre com seu CPF e senha do SIGA</p>
                    </div>

                    <div class="form-block">

                        <div class="form-block">

                            <form id="form_solicitacao" name="form_solicitacao" action="info_siga.php" class="form text-center" method="post">
                                <div class="form-group">
                                    <label for="nome">CPF</label>
                                    <input type="text" class="form-control formulario" id="cpf" name="cpf">
                                </div>
                                <div class="form-group">
                                    <label for="mail">Senha</label>
                                    <input type="password" class="form-control formulario" id="senha" name="senha">
                                </div>
                                <div id="button">
                                    <button type="submit" id="solicitar" name="solicitar" class="btn btn-primary">Enviar Solicitação</button>
                                </div>
                            </form>
                        </div>
                        <div id="msg_error" name="msg_error" class="alert alert-danger">
                            <p align="center">Favor verificar CPF e/ou senha!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {/block}
