{extends file="template.html"}

{block name="barra-css"}navbar.css{/block}
{block name="css"}<link href="css/info_siga.css" rel="stylesheet">{/block}

{block name="code"}

<div id="login-block">

    <h1 id="titulo">Dados</h1>

    <div class="marrow text-center">

        <img id="user" src="imagens/user.png"/>

        <div class="form-block">

            <form id="movieForm" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="control-label" for="nome">Nome Completo</label>
                            <input type="text" class="form-control" name="nome" id="nome" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" name="email" id="email"/>
                        </div>

                        <div class="col-xs-6">
                            <label class="control-label" for="cpf">CPF</label>
                            <input type="text" class="form-control" name="trailer" id="cpf"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="control-label" for="siape">SIAPE</label>
                            <input type="text" class="form-control" name="writer" id="siape"/>
                        </div>

                        <div class="col-xs-4">
                            <label class="control-label" for="telefone">Telefone</label>
                            <input type="text" class="form-control" name="telefone" id="telefone"/>
                        </div>

                        <div class="col-xs-4">
                            <label class="control-label" for="celular">Celular</label>
                            <input type="text" class="form-control" name="producer" id="celular"/>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{/block}
