{extends file="template.html"}

{block name="barra-css"}no-navbar.css{/block}
{block name="css"}<link href="css/solicitacao.css" rel="stylesheet">{/block}

{block name="barra"}{/block}

{block name="code"}

<div id="login-block">

    <h1 id="titulo">Acesso</h1>

    <div class="texto">
        <p>Entre com seu CPF e senha do SIGA</p>
    </div>
    
    <div class="form-block">

        <form class="form text-center" method="post">
            <div class="form-group">
                <label for="nome">CPF</label>
                <input type="text" class="form-control formulario" id="cpf" name="cpf">
            </div>
            <div class="form-group">
                <label for="mail">Senha</label>
                <input type="password" class="form-control formulario" id="senha" name="senha">
            </div>
	    <div id="button">
              <button type="submit" class="btn btn-primary">Enviar Solicitação</button>
	    </div>
        </form>
    </div>

    {if $erro}
    <div class="alert alert-danger">
      <p align="center">Favor verificar CPF e/ou senha!</p>
    </div>
    {/if}
</div>

{/block}
