div#login-block {
    position: absolute;
    
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    
    width: 60%;
    max-width: 600px;
    min-height: 170px;
    max-height: 285px;
    
    background: white;
    
    opacity: 0.8;

    box-shadow: 1px 2px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 2px 20px rgba(0,0,0,0.3);
    
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

h1{
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    letter-spacing: 0.4em;
    border-bottom: solid 1px #e4e8f4;
    line-height: 60px;
    left: 25px;
    color: #b2c2e4;
    font-family: monospace;
    font-size: 30px;

    background-image: url('../imagens/logo_ufvjm.png');
    background-size: 40px 33px;
    background-repeat: no-repeat;
    background-position-y: 12px;
    margin-left: 15px;
    padding-left: 55px;
}

h1 span{
    color: #b8dc76;
}

h4{
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.4em;
    line-height: 30px;
    color: #b2c2e4;
    font-family: monospace;
    font-size: 20px;
}

label {
    float: left;
    margin-right: 30px;
    text-align: right;
    color: #b2c2e4;
    line-height: 34px;
    min-width: 27%;
}

div.form-block {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
}

div#msg_error {
    margin-top: 20px;
}

input#login {
    width: 50%;
}

input#password {
    width: 50%;
}

div.link {
    text-align: center;
    margin-bottom: 10px;
}

div.alert {
    margin: auto;
    margin-top: 50px;
    width: 308px;
}

button.btn {
    margin: 10px;
}

input#cpf {
    width: 50%;
}

input#senha {
    width: 50%;
}

div#button {
    margin: auto;
    margin-top: 20px;
    width: 137px;
}

div.texto {
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    color: #b2c2e4;
}

div.alert {
    margin: auto;
    width: 70%;
}