html, body {
    margin: 0;
    height: 100%;

    background-image: url(../imagens/vales.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar {
    background: #fcfcfc;
    margin-bottom: 20px;
}

a#valid {
    font-family: monospace;
    letter-spacing: 0.4em;
    color: #b2c2e4;
}
