html, body {
    margin: 0;
    height: 100%;

    background-image: url(../imagens/vales.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar {
    background: #fcfcfc;
    margin-bottom: 20px;
}

a#valid {
    font-family: monospace;
    letter-spacing: 0.4em;
    color: #b2c2e4;
    background-image: url('../imagens/logo_ufvjm.png');
    background-size: 32px 25px;
    background-repeat: no-repeat;
    background-position-y: 12px;
    padding-left: 43px;
}

a#valid span{
    color: #b8dc76;
}