#login-block {
    position: absolute;

    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

    width: 50%;
    height: 480px;

    background: white;

    opacity: 0.8;

    box-shadow: 1px 2px 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 2px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 2px 20px rgba(0,0,0,0.3);

    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

h1{
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    letter-spacing: 0.4em;
    border-bottom: solid 1px #e4e8f4;
    line-height: 60px;
    left: 25px;
    color: #b2c2e4;
    font-family: monospace;
    font-size: 30px;
}

#vinculos {
    position: absolute;
    margin-top: 29px;
}

img {
    height: 25px;
    width: 25px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.form-block {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-top: 30px;
    width: 92%;
}

label {
    float: left;
    color: #b2c2e4;
}

p#solicitacao {
    margin: auto;
    margin-top: 140px;
    width: 80%;
}

.ok {
    border: solid 1px green;
    border-radius: 4px;
}

.error {
    border: solid 1px red;
    border-radius: 4px;
}
